<div class="grid-container">
    <div class="grid-img-wrapper">
        <img class="grid-img" src="assets/svg/angular-icon.svg" alt="">
    </div>
    <div style="text-align: center;">
        -
    </div>
    <div style="padding-left: 2px;">
        Angular 9 as a Framework
    </div>

    <div class="grid-img-wrapper">
        <img class="grid-img" src="assets/svg/threejs_logo_black_trans.svg" alt="">
    </div>
    <div style="text-align: center;">
        -
    </div>
    <div style="padding-left: 2px;">
        threejs as Game Engine
    </div>

    <div class="grid-img-wrapper">
        <img class="grid-img" src="assets/svg/Blender_logo_no_text.svg" alt="">
    </div>
    <div style="text-align: center;">
        -
    </div>
    <div style="padding-left: 2px;">
        Blender for object designed
    </div>
</div>
